.frame1 {
  position: absolute;
  /* width: 33vw; */
  /* height: 70vh; */
  right: 54%;
  top: 27%;
  z-index: 1;
  background-attachment: fixed;
  background-size: cover;
}

.frame2 {
  position: absolute;
  /* width: 32vw;
  height: 65vh; */
  left: 53%;
  top: 26%;
  z-index: 1;
  background-attachment: fixed;
  background-size: cover;
}

.frame3 {
  position: absolute;
  /* width: 33vw;
  height: 48vh; */
  left: 48.9%;
  top: 65%;
  background-attachment: fixed;
  background-size: cover;
}

.frame4 {
  position: fixed;
  bottom: 0;
  height: 23vw;
  width: 100vw;
  z-index: -1;
}

.frame5 {
  display: none;
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frame6 {
  display: none;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frame7 {
  display: none;
  position: absolute;
  top: 0px;
  height: 23vw;
  width: 100%;
  z-index: 1;
  transform: rotate(180deg);
}

@media only screen and (max-width: 925px) {
  .frame1 {
    display: none;
  }
  .frame2 {
    display: none;
  }
  .frame3 {
    display: none;
  }
  .frame4 {
    position: fixed;
    bottom: 0;
  }
  .frame5 {
    display: block;
    width: 400px;
    height: 330px;
    top: 95%;
  }
  .frame6 {
    display: block;
    width: 400px;
    height: 330px;
    top: 250%;
  }
  .frame7 {
    display: block;
    bottom: -100%;
  }
}

@media screen and (max-width: 924px) {
  .frame5 {
    display: block;
    width: 400px;
    height: 330px;
    top: 80%;
  }
  .frame6 {
    display: block;
    width: 400px;
    height: 330px;
    top: 216%;
  }
}

@media screen and (max-width: 771px) {
  .frame5 {
    display: block;
    width: 400px;
    height: 330px;
    top: 80%;
  }
  .frame6 {
    display: block;
    width: 400px;
    height: 330px;
    top: 215%;
  }
}
